@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>
    Useful tool based on open data that helps to get informative description of any location in Queensland. You can see how close are bus stops, schools, Museums, Community Halls BBQ areas and other facilities. 
</p>
